# Ignore node_modules
node_modules/

# Ignore environment files
.env

# Ignore logs
logs/
*.log
npm-debug.log*

# Ignore dependencies installed via pnpm
.pnpm-store/

# Ignore build files
dist/
out/

# Ignore VS Code settings
.vscode/

# Ignore lock files (optional)
package-lock.json
yarn.lock
pnpm-lock.yaml
